{erl_opts, []}.

{project_plugins, [
    rebar3_hex,
    rebar3_ex_doc
]}.

{dialyzer, [
    {warnings, [
        no_return,
        unmatched_returns,
        error_handling,
        underspecs,
        unknown
    ]}
]}.

{xref_checks, [
  undefined_function_calls,
  undefined_functions,
  locals_not_used,
  deprecated_function_calls,
  deprecated_functions
]}.

{hex, [
    {doc, #{provider => ex_doc}}
]}.

{ex_doc, [
     {source_url, <<"https://github.com/arcusfelis/wait_helper">>},
     {extras, [<<"README.md">>, <<"LICENSE">>]},
     {main, <<"wait_helper">>}
]}.
